@font-face {
	font-family: Kobzar;
	src: url("res/KobzarKS/KobzarKS.otf");
}
* {
	vertical-align: top;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Kobzar, Arial, sans-serif;
}
header, footer, p, h1, h2, h3, li {
	cursor: default;
}
body {
	background: #07070b url(res/back.jpg);
}
header {
	width: 100%;
	min-width: 900px;
	padding: 10px;
	text-align: center;
	height: 90px;
	line-height: 35px;
	font-size: 4em;
	color: #fafafa;
	background-color: rgba(255, 245, 105, 0.85);
}
div.wrapper {
	width: 900px;
	margin-top: 10px;
	margin-left: -webkit-calc((100% - 900px) / 2);
	margin-left: -moz-calc((100% - 900px) / 2);
	margin-left: calc((100% - 900px) / 2);
	margin-bottom: 10px;
	padding-bottom: 30px;
	background-color: rgba(255,251,183, 0.7);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.input-block {
	width: 900px;
	height: 250px;
	margin-bottom: 10px;
}
div.input-block div {
	display: inline-block;
	width: 400px;
	height: 250px;
	margin-left: 120px;
	text-align: center;
}
div.input-block div p {
	display: table-cell;
	height: 250px;
	vertical-align: middle;
	line-height: 45px;
	font-size: 2.1em;
	color: #fafafa;
}
div.input-block input {
	display: inline-block;
	width: 100px;
	height: 70px;
	margin-top: 90px;
	margin-left: 120px;
	padding: 10px;
	text-align: center;
	font-family: "Caviar Dreams", Arial, sans-serif;
	font-size: 3.1em;
	color: #fafafa;
	background-color: rgba(250, 250, 250, 0.4);
	border: 1px solid rgba(250, 250, 250, 0.8);
/*
	background-color: rgba(255,107,115, 0.4);
	border: 1px solid rgba(255,107,115, 0.7);
*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
div.input-block input.error {
	background-color: rgba(255,107,115, 0.4);
	border: 1px solid rgba(255,107,115, 0.7);
}
div.gold, div.silver {
	display: inline-block;
	width: 400px;
}
div.gold {
	margin-left: 50px;
}
a.calc {
	display: block;
	margin-top: -5px;
	margin-left: 100px;
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 45px;
	font-size: 2.1em;
	color: #fafafa;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
}
div.gold a.calc {
	background-color: rgba(255, 212, 0, 0.8);
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
	border-bottom: 2px solid rgba(214, 178, 0, 0.8);
	
}
div.gold a.calc:hover {
	background-color: rgba(243, 202, 0, 0.8);
	-webkit-transition: 0.2s all ease;
	-moz-transition: 0.2s all ease;
	-o-transition: 0.2s all ease;
	transition: 0.2s all ease;
}
div.gold a.calc:active {
	margin-top: -3px;
	margin-bottom: -2px;
	border-bottom: 0 solid rgba(214, 178, 0, 0.8);
}
div.silver a.calc {
	background-color: rgba(192,192,192, 0.8);
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
	border-bottom: 2px solid rgba(160, 160, 160, 0.8);
}
div.silver a.calc:hover {
	background-color: rgba(180, 180, 180, 0.8);
	-webkit-transition: 0.2s all ease;
	-moz-transition: 0.2s all ease;
	-o-transition: 0.2s all ease;
	transition: 0.2s all ease;
}
div.silver a.calc:active {
	margin-top: -3px;
	margin-bottom: -2px;
	border-bottom: 0 solid rgba(160, 160, 160, 0.8);
}
div.result {
	width: 250px;
	height: 250px;
	margin: 20px 0 0 75px;
	
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
div.gold div.result {
	-webkit-box-shadow: 0 0 0px 2px rgba(255, 212, 0, 0.8);
	-moz-box-shadow: 0 0 0px 2px rgba(255, 212, 0, 0.8);
	box-shadow: 0 0 0px 2px rgba(255, 212, 0, 0.8);
}
div.silver div.result {
	-webkit-box-shadow: 0 0 0px 2px rgba(192,192,192, 0.8);
	-moz-box-shadow: 0 0 0px 2px rgba(192,192,192, 0.8);
	box-shadow: 0 0 0px 2px rgba(192,192,192, 0.8);
}

@-webkit-keyframes movingUp {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: -90px;
	}
	100% {
		margin-top: -250px;
	}
}

@-moz-keyframes movingUp {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: -90px;
	}
	100% {
		margin-top: -250px;
	}
}

@-o-keyframes movingUp {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: -90px;
	}
	100% {
		margin-top: -250px;
	}
}

@keyframes movingUp {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: -90px;
	}
	100% {
		margin-top: -250px;
	}
}

div.result div.image-holder {
	position: absolute;
	width: 250px;
	height: 250px;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
	z-index: 3;
}
div.result img {
	position: absolute;
	height: 250px;
	margin-top: 0;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	
/*
	-webkit-animation: movingUp 7s;
	-moz-animation: movingUp 7s;
	-o-animation: movingUp 7s;
	animation: movingUp 7s;
*/
}
div.result p {
	position: absolute;
	display: block;
	width: 250px;
	height: 250px;
	text-align: center;
	line-height: 250px;
	font-family: "Caviar Dreams", Arial, sans-serif;
	font-size: 5em;
	color: #fafafa;
	background-color: rgba(140, 140, 140, 0.3);
	z-index: 2;
}
p.comment {
	margin-top: 30px;
	text-align: center;
	font-size: 2em;
	color: #fafafa;
	-webkit-transition: 3.5s all ease;
	-moz-transition: 3.5s all ease;
	-o-transition: 3.5s all ease;
	transition: 3.5s all ease;
	opacity: 0;
}
a.hug {
	display: block;
	margin-top: 30px;
	margin-left: 325px;
	width: 250px;
	height: 70px;
	text-align: center;
	line-height: 60px;
	font-size: 2em;
	background-color: #252525;
	color: #bbb;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	text-decoration: none;
	opacity: 0;
	-webkit-transition: 3.5s all ease;
	-moz-transition: 3.5s all ease;
	-o-transition: 3.5s all ease;
	transition: 3.5s all ease;
}
footer {
	width: 100%;
	min-width: 900px;
	padding: 10px -webkit-calc((100% - 800px) / 2) 10px -webkit-calc((100% - 800px) / 2);
	padding: 10px -moz-calc((100% - 800px) / 2) 10px -moz-calc((100% - 800px) / 2);
	padding: 10px calc((100% - 800px) / 2) 10px calc((100% - 800px) / 2);
	text-align: right;
	font-family: "Caviar Dreams", Arial, sans-serif;
	font-size: 1.2em;
	color: #f7f7f7;
	background-color: rgba(50, 50, 50, 0.89);
}
footer a {
	font-family: "Caviar Dreams", Arial, sans-serif;
	color: rgba(255, 212, 0, 1);
}